# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.venv/
venv/
ENV/
env.bak/
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
db.sqlite3
media/
staticfiles/
.DS_Store
local_settings.py

# VS Code
.vscode/

# Git
.idea/
*.swp
